* {
  padding: 0;
  margin: 0;

}

@font-face {
  font-family: bodyFont;
  src: url('./fonts/CenturyGothic.ttf');
}

/* ****************** Navbar ******************* */
#navbarNavDropdown {
  font-family: bodyFont;
}

.navbar-nav li a {
  color: #000000 !important;
  font-weight: bold;
  font-size: larger;
}

.navbar-nav li a:active {
  color: #012e4d !important;
}

/* ******************** Hero Section Carousel *********************** */
.carousel-caption {
  margin-bottom: 15% !important;
  margin-left: 30% !important;
}

@media(max-width:640px) {
  .carousel-caption {
    font-size: 20px !important;
  }
}

@media (max-width:641px) {
  .carousel-caption h1 {
    margin-bottom: 12% !important;
    margin-left: 38% !important;
    font-size: 22px;
  }
}

@media (min-width:841px)and(max-width:925px) {
  .carousel-caption {
    margin-bottom: 12% !important;
    margin-left: 38% !important;
  }
}